* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: cursive;
    background-color: #FFF5E0;
}

  h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    text-transform:none;
    font-size: 32pt;
    margin: 0;
    padding: 32px;
    background-color: #141E46;
    color: #fff;
    border-bottom: 4px solid #FF6969;
  }

  p {
    font-size: 18px;
    margin: 20px 10px;

  }

  h2 {
    font-size: 24pt;
    text-align: left;
    margin: 20px 10px;
    padding: 10px;
    background-color: #FF6969;
    border-radius: 10px;
    display: inline-block;


  }


  #gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 20px 10px;
    gap: 16px;
  }

  #gallery img {
   width: 350px;
   height: 300px;
   object-fit: cover;
   border-radius: 10px;
  }